#block-views-block-home-slider-block-1 {
  background-color: #f5f7f9;

  .owl-stage-outer {
    height: 85vh !important;
  }

  .views-field-field-imagen-portada {
    .field-content {
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.5340511204481793) 0%, rgba(255,255,255,0) 61%, rgba(255,255,255,0) 100%);
        width: 100%;
        height: -webkit-fill-available;
      }
    }
  }
  .info {
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100%;

    .titulo {
      //font-family: 'Montserrat', sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -0.2rem;
    }

    .subtitulo {
      //font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      //text-transform: uppercase;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.1rem;
    }
    .cuerpo{
      max-width: 50%;
    }

    .ver-mas {
      display: inline-block;
      a {
        background-color: $primary-color;
        border-radius: 4px;
        padding: .6rem 2rem;
        color: #fff;
      }
    }
  }
  .owl-controls.clickable{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .owl-page span{
      width: 22px;
      height: 6px;
      margin: 5px 2px;
      border-radius: 5px;
      background: $primary-color;
    }
  }
}
.block-tellamamoshome{
  text-align: center;
  padding: 2.8rem 8rem;
  background-color: #E8E8E8;
  a.button{
    padding: 1.1rem 8.6rem;
    border-radius: 8px;
    font-size: 1.188rem;
  }
}
#block-views-block-internet-simetrico-empresarial-block-1{
  .internet-simetrico{
    display: flex;
    align-items: center;
    .image{
      img{
        width: 100%;
      }
    }
    .encabezado{
      a{
        background-color: $primary-color;
        border-radius: 4px;
        padding: .6rem 2rem;
        color: #fff;
      }
    }
  }
}
#block-views-block-internet-simetrico-empresarial-block-2{
  .views-row{
    position: relative;
  }
  .info {
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100%;

    .titulo {
      //font-family: 'Montserrat', sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -0.2rem;
      color: #fff;
    }
    .cuerpo{
      max-width: 50%;
      color: #fff;
    }
    .ver-mas {
      display: inline-block;
      a {
        background-color: $primary-color;
        border-radius: 4px;
        padding: .6rem 2rem;
        color: #fff;
      }
    }
  }
}
#block-secondarymenuhome{
  ul.menu{
/*     margin: auto;
    padding: 2rem;
    display: block;
    background-color: #E8E8E8; */
    li{
      width: 12%;
      display: block;
      background: #e60f4b;
      height: 112px;
      position: relative;
      a{
        color: #fefefe;
        position: relative;
        -ms-transform: translateY(-35%);
        transform: translateY(45%);
        top: 50%;
        padding: 0.7rem 0.4rem;
        &:after{
          position: absolute;
          background: url(../images/icons/mi-cuenta.svg);
          background-size: 75px 75px;
          background-repeat: no-repeat;
          top: 0%;
          -ms-transform: translateX(-50%);
          bottom: 100px;
          left: 0;
          right: 0;
          margin: auto;
          width: 75px;
          height: 75px;
          content: "";
        }
      }
    }
  }
}