// Non-modular or client styles for .l-footer region.
footer{
	
	#footer-first{
		padding: 2rem 0;
		> div {
			display: flex;
			nav{
				ul.menu{
					li{
						width: 100%;
						a{
							color: #666;
							font-size: .9rem;
							line-height: 1.6em !important;
							padding: 0.4rem 0rem;
						}
					}
				}
			}
		}
		h2{
			font-size: 1rem;
		    line-height: 20px;
		    font-weight: 600;
		    margin-bottom: 1rem;
		}
	}
	#footer-middle{
		background-color: #E8E8E8;
	}
}
.bottom-bar{
	background-color: $primary-color;
	color: #fff;
	padding: .5rem 0;
	font-size: 0.8rem;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 0.7rem 0rem;
}
section#block-mapadelsitio{
	ul{
		list-style: none;
		li{
			display: block;
			width: 100%;
		}
	}
	a{
		color: #666;
		font-size: .9rem;
		line-height: 1.6em !important;
		padding: 0.4rem 0rem;
	}
}