@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

// Non-modular or client styles for .l-header region.
.sticky-topbar{
  z-index: 9;
  &.is-stuck {
    //background-color: #fefefe;
    background-color: red;
    -webkit-box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.1); 
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.1);
  }
}
header {
	@media screen and (min-width: 40em) {
		padding: 1.8rem 0;
	}
	.header-container > div{
		display: flex;
		align-items: center;
	}
	#block-navegacionprincipal{
		nav.main{
			margin: 0;
			.we-mega-menu-ul {
				background-color: white;
				> .we-mega-menu-li{
					border-left: none;
					> a{
						color: #888;
					    font-size: .9rem;
					    font-weight: 600;
					    background-color: white;
					    text-transform: initial;
					    background: #fefefe;
					}
					.we-mega-menu-submenu{
						position: fixed;
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}