// Non-modular or client styles for the .l-content region.
main{
	.node--type-page{
		align-items: center;
	    display: flex;
	    .body{
	    	color: #4F4F4F;
	    }
	}
	.node--type-servicio{
		max-width: 60rem;
		margin: auto;
		.encabezado-servicio{
			margin-bottom: 2rem;
			.fieldset-legend{
				display: none;
			}
			.fieldset-wrapper{
				align-items: center;
				display: flex;
				.field-name-field-lead{
					color: #4F4F4F;
					font-size: 1.25rem;
					font-weight: 700;
				}
			}
		}
		.body{
			color: #4F4F4F;
		}
	}
}