// Non-modular or client styles for the .l-content region.
main{
	.node--type-page{
		.encabezado-page{
			legend{
				display: none;
			}
			.fieldset-wrapper{
				align-items: center;
				display: flex;
				@media only screen and (max-width: 600px){
					display: block;
				}
				.field-name-field-lead p{
					font-size: 1.6rem;
					line-height: 1.5em;
					@media only screen and (max-width: 600px){
						font-size: 1.2rem;
					line-height: 1.4em;
					   }
				}
			}
		}
	    .body{
	    	color: #4F4F4F;
	    }
	}
	.node--type-servicio{
		margin: auto;
		.encabezado-servicio{
			margin-bottom: 2rem;
			legend{
				display: none;
			}
			.fieldset-wrapper{
				@media (min-width: 640px){
					align-items: center;
					display: flex;
				}
				.field-name-field-lead p{
					font-size: 1.6rem;
					line-height: 1.5em;
				}
			}
		}
		.field-node--body.field-name-body {
			@media (min-width: 640px){
				padding: 0 16rem;
				margin-bottom: 3rem;
			}
		}
		.field.field-node--field-image.field-name-field-image{
			img{
				border-radius: 8px;
			}
		}
	}
}

fieldset.encabezado-page{
	img{
		border-radius: 8px;
	}
}
.section-pagos{
	h3{
		color: $primary-color;
	}
	.body{
		max-width: 60rem;
		margin: auto;
	}
}